<!DOCTYPE html>
<html>

<head>
    <%- include ('./../theme/html/head'); %>
        <style>
            .my-customsw::after {
                display: none;
            }
        </style>
</head>

<body class=" sidebar-mini layout-fixed text-sm sidebar-collapse">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include ('./../theme/html/navbar'); %>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <%- include ('./../theme/html/sidebar'); %>

                <!-- Content Wrapper. Contains page content -->
                <div class="container">
                    
                    <fieldset class="pt-2">
                        <small class="d-flex" class="form-text text-muted">Last updated: <div id="lastTimeTHUpdate">
                            </div></small>
                        <div class="form-group row">
                            <label for="curTemp" class="col-sm-2 col-form-label">Nhiệt độ phòng</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="curTemp" value="">

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="curHum" class="col-sm-2 col-form-label">Độ ẩm</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="curHum" value="">
                            </div>
                        </div>

                        <div class="card  mb-3" style="max-width: 40rem;">
                            <div class="card-header d-flex justify-content-between my-customsw">
                                <div>Quạt</div>
                                <div class="form-check form-switch">

                                </div>
                                <div class="custom-control custom-switch ">
                                    <input type="checkbox" class="custom-control-input" id="switchquat"
                                        onchange="return doSwitch(this)">
                                    <label class="custom-control-label" for="switchquat"></label>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-group borderless px-1" style="border-style:none;">

                                    <li class="list-group-item pt-0 pb-4 border-0 d-flex justify-content-between">
                                        <p class="specs">Value</p>
                                        <p class="ml-auto mb-0">
                                            <input min="-255" max="255" type="text" id="curValueDrv"
                                                onchange="return doDRV(this)">
                                            <small class="d-flex" class="form-text text-muted">Last updated: <i
                                                    id="lastTimeDrvUpdate"> </i></small>
                                        </p>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- /.content-wrapper -->
                <%- include ('./../theme/html/footer'); %>
    </div>
    <!-- ./wrapper -->

    <!-- script -->
    <%- include ('./../theme/html/script'); %>
        <script>
            $(document).ready(function () {
                var socket = io.connect('http://localhost:3000');
                socket.on("info-temp-humid", function (formdata) {
                    let jsondata = JSON.parse(formdata.data)
                    let data = jsondata.data.split('-');
                    let curTemp = Number.parseFloat(data[0]).toPrecision(3);
                    let curHum = Number.parseFloat(data[1]).toPrecision(3);
                    $('#curTemp').val(curTemp);
                    $('#curHum').val(curHum);
                    $('#lastTimeTHUpdate').text(formdata.time);

                });
                socket.on("front-end-info-drv", function (formdata) {
                    let jsondata = JSON.parse(formdata.data)
                    let curValue = parseInt(jsondata.data);
                    $('#curValueDrv').val(curValue);
                    console.log('info-drv', jsondata);
                    $('#lastTimeDrvUpdate').text(formdata.time);
                    if (curValue == 0) {
                        $('#switchquat').prop('checked', false);
                    } else {
                        $('#switchquat').prop('checked', true);
                    }
                });
            });
            let test = [];
            var socket = io.connect('http://localhost:3000')
            function doDRV(drvdata) {
                console.log('info-drv demand change', drvdata.value);
                socket.emit('info-drv', drvdata.value)
            }
            function doSwitch(switchdata) {
                if (switchdata.checked == true) {
                    socket.emit('info-drv', 255)
                }
                else {
                    socket.emit('info-drv', 0)
                }
            }
            let f ;

            (function myinit(){
                let data = <%- JSON.stringify(init)%>
                f=data;
                if(data.drv.data==0){
                    $('#switchquat').prop('checked', false);
                }
                else{
                    $('#switchquat').prop('checked', true);
                }
                $('#curValueDrv').val(data.drv.data);
                $('#lastTimeDrvUpdate').text(data.drv.time);

                $('#curTemp').val(data.temphumid.temp);
                $('#curHum').val(data.temphumid.humid);
                $('#lastTimeTHUpdate').text(data.temphumid.time);
            })()
        </script>
</body>

</html>